.App {
  display: grid;
}

@keyframes loading{
  from {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  50% {
      transform: scale(1.1, 1.1);
      -webkit-transform: scale(1.1, 1.1);
  }
  to {
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
  }
}
.spinner::after{
  content: "";
  width: 50px;
  height: 50px;
  border-top: 4px solid black;
  border-right: 2px solid transparent;
  border-radius: 50%;
  margin-left: -27px;
  margin-top: -29px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  animation: spinner 1s linear infinite;
}
@keyframes spinner{
  to{
    transform: rotate(360deg)
  }
}


.heart {
  position: relative;
  width: 50px;
  height: 60px;
  margin-top: 5px;
  flex: 1;
  margin-right: 60px;
}

.heart::before, .heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 50px;
  border-radius: 80px 80px 0 0;
  background: red;
}

.heart::before {
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
/*HEART 2 */
.heart2 {
  position: relative;
  width: 50px;
  height: 60px;
  margin-top: 5px;
  flex: 1;
  margin-right: 60px;
}

.heart2::before, .heart2::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 50px;
  border-radius: 80px 80px 0 0;
  background: gray;
}

.heart2::before {
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart2::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}