.App {
  display: grid;
}

@keyframes loading{
  from {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  50% {
      transform: scale(1.1, 1.1);
      -webkit-transform: scale(1.1, 1.1);
  }
  to {
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
  }
}
.spinner::after{
  content: "";
  width: 50px;
  height: 50px;
  border-top: 4px solid black;
  border-right: 2px solid transparent;
  border-radius: 50%;
  margin-left: -27px;
  margin-top: -29px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  animation: spinner 1s linear infinite;
}
@keyframes spinner{
  to{
    transform: rotate(360deg)
  }
}


.heart {
  position: relative;
  width: 50px;
  height: 60px;
  margin-top: 5px;
}

.heart::before, .heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 50px;
  border-radius: 80px 80px 0 0;
  box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
  background: red;
}

.heart::before {
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
/*HEART 2 */
.heart2 {
  position: relative;
  width: 50px;
  height: 60px;
  margin-top: 5px;
  flex: 1;
  margin-right: 60px;
}

.heart2::before, .heart2::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 50px;
  border-radius: 80px 80px 0 0;
  background: gray;
}

.heart2::before {
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart2::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.navbar{
  background: linear-gradient(-45deg, #2e1912, #0a0406, #091c22, #09241e);
  background-size: 400% 400%;
  animation: transition 10s infinite;
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
}

.loadingScreen{
  height: 100vh;
  justify-items: center;
  align-content: center;
  width: 100%;
  position: fixed;
  background: linear-gradient(-45deg, #2e1912, #0a0406, #091c22, #09241e);
  background-size: 400% 400%;
  color: white;
  top: 0;
  animation: transition 10s infinite;
  text-shadow: 0px 3px 0px #37342d,
  0px 14px 10px rgba(199, 196, 196, 0.15),
  0px 24px 2px rgba(199, 196, 196, 0.15),
  0px 34px 30px rgba(199, 196, 196, 0.15);
  font-weight: bold;
  z-index: 51;
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
}
.loadingScreen>.messages{
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  animation: loading 6s infinite;
  -webkit-animation: loading 6s infinite;
}
@keyframes transition {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes loading{
  from {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  50% {
      transform: scale(1.1, 1.1);
      -webkit-transform: scale(1.1, 1.1);
  }
  to {
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
  }
}
@keyframes loadingDone{
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(1, 1);
  }
}

.windowClose:hover{
  transform: scale(0.9, 0.9);
  color: gray !important;
}
.github:hover{
  transform: scale(1.05, 1.05);
  box-shadow: 0px 5px 23px 0px rgba(50, 50, 50, 0.75);
}

@keyframes popExplainBox {
  from {
      transform: scale(0, 0);
      opacity: 0;
  }
  50% {
      transform: scale(1.1, 1.1);
      opacity: 0.5;
  }
  to {
      transform: scale(1, 1);
      opacity: 0.95;
  }
}
@keyframes fadeExplainBox {
  from {
      transform: scale(1, 1);
      opacity: 0.95;
  }
  50% {
      transform: scale(1.1, 1.1);
      opacity: 0.5;
  }
  to {
      transform: scale(1.11, 1.11);
      opacity: 0;
  }
}

.help:hover{
  transform: scale(1.05, 1.05);
  filter: drop-shadow(0 0 3px red);
}

@keyframes increaseHeightBar1 {
  from {
      height: 5%;
  }
  50% {
    height: 100%;

  }
  to {
    height: 5%;
  }
}
/*SET BUTTON ANIMATIONS*/
@keyframes mousein {
  to{
    box-shadow: inset 0px -80px 0px #2F3B47;

  }
}
@keyframes mouseout{
  to{
    box-shadow: inset 0px 0px 0px #2F3B47;
  }
}